@use '../variables' as vars;

$utilities: (
    "font-size-custom": (property: font-size,
        class: fs,
        values: vars.$font-size-custom ),

    /* Add new utilities. */
    "cursor": (property: cursor,
        class: cursor,
        responsive: true,
        values: auto pointer grab,
    )
);
