@each $color, $value in $theme-colors {
    .alert {
        &.alert-#{$color} {
            .btn-close::after {
                color: var(--#{$prefix}#{$color});
            }
        }

    }
}

.alert-dismissible {
    .btn-close {
        background: transparent !important;

        &::after {
            background: transparent !important;
            content: "\F0156" !important;
            font-size: 18px;
            line-height: 15px;
            font-family: 'Material Design Icons', sans-serif !important;
        }
    }
}
