// prismjs.
@import 'prismjs/plugins/line-numbers/prism-line-numbers.css';
@import 'prismjs/plugins/toolbar/prism-toolbar.css';

// Overwrite prismjs.
.copy-to-clipboard-button {
  border-radius: var(--#{$prefix}border-radius-pill)
}

.copy-to-clipboard-button:hover {
  background-color: var(--copy-bg-hover);
  color: var(--copy-text-hover);
}
