/*** Input password ***/
.show-password {
    padding-right: 35px;

    &.is-invalid ~ .show-password-icon {
        right: 35px;
    }
}

.show-password-icon {
    position: absolute;
    right: calc(.375em + .1875rem);
    top: 51%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    opacity: 50%;
    display: none;
}

